{% extends 'admin_area/layout/main.html.twig' %}

{% block title %}
    Secured Area
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/framework.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/fonts.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="container ">
            <div class="row justify-content-center ">
                <div class="col-md-12 text-center">
                    <h1>
                        <i class="fa fa-shield"></i> Fake Login In Admin Panel
                    </h1>
                </div>
                <div class="col-md-5  ">
                    <form action="{{ path('admin.dashboard') }}"
                          method="GET"
                          class="form-horizontal"
                    >
                        <div class="form-group">

                            <input type="email"
                                   placeholder="my@email.com"
                                   class="form-control"
                            />
                        </div>
                        <div class="form-group ">
                            <input type="password"
                                   class="form-control"
                                   placeholder="*********"
                            />
                        </div>
                        <button type="submit"
                                class="btn btn-secondary"
                        >
                            <i class="fa fa-sign-out"></i> Log In
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
