{% extends 'admin_area/layout/main.html.twig' %}

{% block title %}
    Secured Area
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/framework.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="container ">
            <div class="row justify-content-center ">
                <div class="col-md-12 text-center">
                    <h1>
                       Admin Panel LogIn
                    </h1>
                </div>
                <div class="col-md-5  ">
                    {% if message is defined %}
                    <div class="col-md-12 text-danger text-center">
                        {{ message }}
                    </div>
                    {% endif %}
                    <form action="{{ path('admin.authenticate') }}"
                          method="GET"
                          class="form-horizontal"
                    >
                        <div class="form-group {% if violations is defined and 'email' in violations|keys %} has-danger {% endif %} ">
                            <input type="email"
                                   name="email"
                                   id="email"
                                   placeholder="my@email.com"
                                   class="form-control"
                                   value="{{ old.email | default('') }}"
                            />
                            {% if violations is defined and 'email' in violations|keys %}
                                <div class="form-control-feedback">
                                    {{ violations.email }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group {% if violations is defined and 'password' in violations|keys %} has-danger {% endif %} ">
                            <input type="password"
                                   name="password"
                                   class="form-control"
                                   placeholder="*********"
                            />
                            {% if violations is defined and 'password' in violations|keys %}
                                <div class="form-control-feedback">
                                    {{ violations.password }}
                                </div>
                            {% endif %}
                        </div>
                        <button type="submit"
                                class="btn btn-secondary"
                        >
                            Log In
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
