<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>

    <meta charset="UTF-8">

    <title>
        {% block title %}
        {% endblock %}
    </title>

    <link href="{{ asset('css/framework.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/fonts.css') }}" rel="stylesheet"/>

    {% block stylesheets %}
    {% endblock %}

    <style>
        body {
            margin: 0;
            font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 0.9rem;
            font-weight: 300;
            line-height: 1.5;
            color: #cfd2da;
            text-align: left;
            background-color: #252830;
        }

        a {
            color: white;
        }

        a:hover {
            color: gray;
            text-decoration: none;
        }

        .hr-white {
            border: none;
            color: white;
            background-color: white;
            height: 2px;
        }
    </style>

</head>
<body>

<header>
    <section>
        {% block header %}
        {% endblock %}
    </section>
</header>

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <a href="{{ path('admin.dashboard') }}">
                    <i class="fa fa-dashboard"></i>
                    Dashboard
                </a>
                <hr class="hr-white">
                <a href="{{ path('admin.user.list') }}">
                    <i class="fa fa-users"></i>
                    Users
                </a>
                <hr class="hr-white">
                <a href="#">
                    <i class="fa fa-cog"></i>
                    Settings
                </a>
            </div>
            <div class="col-md-10">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
</main>

<footer>
    <section>
        {% block javascripts %}
        {% endblock %}
    </section>
</footer>

</body>
</html>
