{% extends 'admin_area/layout/main.html.twig' %}

{% block title %}
    Secured Area
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

    <div class="container-fluid">

        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">
                    ID
                </th>
                <th scope="col">
                    Email
                </th>
                <th scope="col">
                   Registered At
                </th>
                <th scope="col">
                  Actions
                </th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <th >
                        {{ user.toUuid }}
                    </th>
                    <th >
                        {{ user.toEmail }}
                    </th>
                    <th >
                        {{ user.toCreatedAt }}
                    </th>
                    <th >
                        <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">

                            <button class="btn btn-warning">
                               <i class="fa fa-pencil"></i>
                            </button>
                            <button class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </th>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}
