{% extends 'admin_area/layout/main.html.twig' %}

{% block title %}
    Secured Area
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

    <div class="container-fluid">
        {% if errors is defined %}
            <ul>
                {% for error in errors %}
                    <li>
                        <br>{{ error.messageKey }}
                        <br> {{ error.message }}
                        <br> {{ error }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {{ dump(app.request) }}
        <div class="container ">
            <h1>
                Dashboard only for Authenticated users
            </h1>
        </div>
    </div>
{% endblock %}
